
params {
  help = false

  outdir = "AlphaFold_Results"

  /* Input files */
  fasta = false

  /* Reference files: https://github.com/deepmind/alphafold#genetic-databases */
  uniref90_db = "/reference/data/Uniprot/2018-18-07/uniref/uniref90/uniref90.fasta"
  mgnify_db = "/reference/data/metagenomics/peptide_database/2018_12/mgy_clusters_2018_12.fa"
  bfd_db = ""
  uniclust30_db = ""
  pdb70_db = "/reference/data/alphafold/pdb70/pdb70"
  pdb_db = ""

  //template_mmcif_dir = false

  /* link executables (optional) */
  jackhmmer_app = "/usr/bin/jackhammer"
  hhsearch_app = "/usr/bin/hhsearch"
  hhblits_app = "/usr/bin/hhblits"

  /* Slurm */
  queueSize = 50
  account = false
  threads = 40
  clusterOptions = false /* this will completely overwrite the above options */
  monochrome_logs = false
}

env {
  jackhmmer_app = "$params.jackhmmer_app"
  hhsearch_app = "$params.hhsearch_app"
  hhblits_app = "$params.hhblits_app"
}

profiles {
  standard { includeConfig 'configs/slurm.config' }
  slurm { includeConfig 'configs/slurm.config' }
}

executor {
  queueSize = "$params.queueSize"
  submitRateLimit = '10 sec'
}

singularity.autoMounts=true

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
  name = 'isugifNF/alphafold'
  homePage = 'www.bioinformaticsworkbook.org'
  description = 'Nextflow implementation of alphafold, just a test'
  mainScript = 'main.nf'
  version = '1.0.0'
}